@media(max-width:768px){
    .burger_menu{
        display: block;
    }
    .header_blok__nav_list{
        display: none;
    }
    html,body{
        font-size: 16px;
    }
    .grand-open {
        background: url("../img/coffee-small.png");
        max-width: 100%;
        background-size: cover;
        background-position: center center;
    }
}
@media(max-width:480px){
    html,body{
        font-size: 14px;
    }
}

/* ----------menu-------- */
@media(max-width:576px){
    .about {
        background: url("../img/cafe-small.png");
        background-size: cover;
        background-position: center center;
        min-width: 100%;
        padding: 90px 0;
    }
    .collapse-bg-light{
        background: #fff !important;
        color: #000 !important;
    }
    .news-body__blok .row{
        flex-direction: column;
        row-gap: 10px;
    }
    .footer-contact,
    .footer-contact a{
        text-align: center;
        padding-bottom: 50px;
    }
    .footer-copy{
        text-align: center !important;
    }
}

@media (max-width: 900px) {

    .burger { 
        display: flex;
     }
     .burger.active{
        position: fixed;
        top: 35px;
        right: 40px;
     }
     .burger-box{
        background: #668E68;
        z-index: 50;
    }
    .nav{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: rgb(255, 255, 255);
        animation: burgerAnimation 0.4s;
    }
    .burger::before { top: 10px; }

    .burger::after { bottom: 10px; }

    .nav ul li a{
        color: #668E68;
        font-size: 18px;
    }

    .nav ul{
        position: relative;
        top: 50px;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
    }
}