@media(max-width:768px){
    .burger_menu{
        display: block;
    }
    .header_blok__nav_list{
        display: none;
    }
    html,body{
        font-size: 16px;
    }
    .grand-open {
        background: url("../img/coffee-small.png");
        max-width: 100%;
        background-size: cover;
        background-position: center center;
    }
}
@media(max-width:480px){
    html,body{
        font-size: 14px;
    }
}

/* ----------menu-------- */
@media(max-width:576px){
    .about {
        background: url("../img/cafe-small.png");
        background-size: cover;
        background-position: center center;
        min-width: 100%;
        padding: 90px 0;
    }
    .collapse-bg-light{
        background: #fff !important;
        color: #000 !important;
    }
    .news-body__blok .row{
        flex-direction: column;
        row-gap: 10px;
    }
    .footer-contact,
    .footer-contact a{
        text-align: center;
        padding-bottom: 50px;
    }
    .footer-copy{
        text-align: center !important;
    }
}
