*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

@font-face {font-family: "YD Gothic 500";
    src: url("../fonts/gothic/4339eced15589d2e94bf76fa75b1786f.eot"); /* IE9*/
    src: url("../fonts/gothic/4339eced15589d2e94bf76fa75b1786f.eot") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/gothic/4339eced15589d2e94bf76fa75b1786f.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/gothic/4339eced15589d2e94bf76fa75b1786f.woff") format("woff"), /* chrome、firefox */
    url("../fonts/gothic/4339eced15589d2e94bf76fa75b1786f.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/gothic/4339eced15589d2e94bf76fa75b1786f.svg#YDGothic 500 W36 50") format("svg"); /* iOS 4.1- */
  }
  @font-face {
    font-family: 'ShadowsIntoLight';
    src: url(..//fonts/shadows/ShadowsIntoLight.eot);
    src: url(..//fonts/shadows/ShadowsIntoLight.eot?#iefix) format('embedded-opentype'),
         url(..//fonts/shadows/ShadowsIntoLight.woff2) format('woff2'),
         url(..//fonts/shadows/ShadowsIntoLight.woff) format('woff'),
         url(..//fonts/shadows/ShadowsIntoLight.ttf) format('truetype'),
         url(..//fonts/shadows/ShadowsIntoLight.svg#ShadowsIntoLight) format('svg'),
         url(..//fonts/shadows/ShadowsIntoLight.otf) format('otf');
  }
  @font-face {
    font-family: 'GeorgiaRegularfont';
    src: url(../fonts/georgia/GeorgiaRegularfont.eot);
    src: url(../fonts/georgia/GeorgiaRegularfont.eot) format('embedded-opentype'),
         url(../fonts/georgia/GeorgiaRegularfont.otf) format('otf'),
         url(../fonts/georgia/GeorgiaRegularfont.svg) format('svg'),
         url(../fonts/georgia/GeorgiaRegularfont.ttf) format('truetype'),
         url(../fonts/georgia/GeorgiaRegularfont.woff) format('woff'),
         url(../fonts/georgia/GeorgiaRegularfont.woff2) format('woff2');
  }
  /* font-family: 'GeorgiaRegularfont'; */


  
html,body{
    font-family: "YD Gothic 500", serif !important;
    font-size: 18px;
    font-weight: 500;
}
/* ------------header---------------- */
.open{
    display: flex !important;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    background-color: #668E68;
    color: #fff;
    padding: 0 40px;
    position: relative;
}

.logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logo a{
    color: #fff;
    text-decoration: none;
    font-family: 'GeorgiaRegularfont';
    font-size: 2.44rem;
}

.nav{
    display: flex;
    width: 600px;
    padding: 0 40px;
}
.nav ul a{
    color: #fff;
    text-decoration: none;
    
}
.nav ul a::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #ffffff;
    transform: scaleX(0);
    transition: all 0.5s;
}
.nav ul a:hover:after{
    transform: scaleX(1);
}

.nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}


.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #668E68;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
    border-radius: 10px;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 80%;
    border-radius: 10px;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */


@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}
/* -------------------- */
.header_blok__logo{
    color: #fff;
    transition: all 0.3s;
}
.header_blok__logo:hover{
    color: #9cff6e;
}
.nav_list__item,
.nav_list__item .active{
    font-family: "YD Gothic 500", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.61rem;
    color: #fff !important;
}
/* --------grand-open---------- */
.grand-open {
    background: url("../img/coffee\ 1.png");
    max-width: 100%;
    background-size: cover;
    background-position: center center;
}
.grand-open__title {
    text-align: center;
    font-family: 'ShadowsIntoLight';
    font-size: 6.11rem;
    font-weight: 400;
    line-height: 9.83rem;
    color: #fff;
    padding: 9.5rem 0;
}
/* ---------------menu------------------ */
.menu {
    padding: 50px 0;
}
.menu__title {
    text-align: center;
}
.menu_item{
    padding: 20px 0;
    width: 100%;
    text-align: center;
    height: 30%;
    background: #fff;
    opacity: 0.7;
    font-family: 'georgia-regular', serif; 
    font-size: 1.44rem;
    font-weight: 400;
    line-height: 1.66rem;
}
.menu__card img{
    max-width: 100%;
  }
.menu .container .row .border-5{
    border: 10px solid #913d26 !important;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: 0;
}
/* ------------about--------------- */
.about {
    background: url("../img/cafe1.png");
    background-size: cover;
    background-position: center center;
    min-width: 100%;
    padding: 145px 0;
}
.about__title {
    font-family: 'ShadowsIntoLight';
    color: #fff;
    font-size: 1.11rem;
    line-height: 1.94rem;
}
.about__subtitle {
    font-family: 'georgia-regular', sans-serif; 
    color: #fff;
    font-size: 1.44rem;
    line-height: 1.94rem;
}
.about__text {
    max-width: 367px;
    color: #fff;
    margin: 0 auto 60px;
    font-family: "YD Gothic 500", sans-serif;
    font-size: 1.11rem;
    font-weight: 500;
    line-height: 1.44rem;
}
.about-button button{
    width: 160px; 
}
/* ------------news--------------- */
.news{
    padding: 80px 0;
    background: #81613B33;
}
.news-body__blok{
    background: #fff;
    font-family: "YD Gothic 500", sans-serif;
    font-size: 0.88rem;
    font-weight: 500;
    line-height: 1.44rem;
}

/* -------------footer------------------- */
.footer{
    background: #000;
    padding: 20px 0 80px;
    position: relative;
}
.footer-contact,
.footer-contact a{
    font-family: "YD Gothic 500", serif;
    font-size: 0.88rem;
    line-height: 1.38rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.footer-copy{
    font-family: 'georgia-regular', serif; 
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 0.88rem;   
    color: #fff;
}
.footer-up {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
}
.footer-up img{
    max-width: 100%;
}