body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
/* ------------------------------------------------------------------------ */
body{
    display: flex;
    flex-direction: column;
    position: relative;
}
.main{
    flex: 1 1 auto;
    padding: 0 85px;
    background: url('../img/01.jpg') 0 0/cover no-repeat;
    height: 1573px;
}
/* -----------------------header------------------------------------------------- */
.container {
    max-width: 1463px;
    margin: 0 auto;
    padding: 0 15px;
}
.header_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 0;
}
.logo {
    padding: 5px;
    display: inline-block;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.01em;
    font-weight: 700;
}
.logo p{
    text-transform: uppercase;
}
.logo p>span{
    text-transform: none;
}
.nav__list {
    display: flex;
    gap: 50px;
}
.nav__item a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}
.header__search {
    display: flex;
    align-items: center;
}
.header__search button{
    background: transparent;
    border: none;
    display: block;
    padding: 5px 14px 0 0;
    cursor: pointer;
}
.header__search input{
   border: none;
   background: transparent;
   outline:none;
   padding-top: 4px;
   font-size: 17px;
   line-height: 23px;
   color: #dddddd;
   width: 85px;
}
.header__search input::-ms-clear {
    display: none;
}
.header__search input::placeholder {
    font-size: 17px;
    line-height: 23px;
    color: #dddddd;
}
/* -----------------------discover------------------------------------------------- */
.sidebar {
    position: fixed;
    top: 359px;
    left: 80px;
    display: block;
}
.sidebar__list{
    display: flex;
    gap: 20px;
}
.sidebar__list:first-child {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.sidebar__item a{
    display: block;
}
.discover__body {
    width: 950px;
    height: 261px;
    margin: 132px auto 125px auto;
}
.body_blok__label {
    padding-left: 105px;
    margin-bottom: 60px;
}
.label {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 6px;
    color: #FFC178;
    text-transform: uppercase;
    position: relative;
}
.label::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 72px;
    height: 2px;
    background: #FFC178;
}
.title {
    font-size: 96px;
    font-weight: 700;
    line-height: 100px;
    color: #fff;
}
.body_blok__subtitle{
 font-size: 88px;
    font-weight: 400;
    line-height: 100px;
}
.discover__body a{
    color: #fff;
    text-decoration: none;
    display: block;
    width: 126px;
    margin: 125px auto 0 auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    position: relative;
  
}
.discover__body a::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    /* content: '\f175'; */
    font: var(--fa-font-solid);
    content: "\f175";
    position: absolute;
    top: 4px;
    right: -5px;
}

/* -----------------------holiday------------------------------------------------- */
.holiday {
    background: #000;
}
.holiday_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -100px;
    margin-bottom: 250px;
}
.holiday__image {
    width: 598px;
}
.holiday_block {
    width: 632px;
}
.holiday_block__label {
    padding-left: 105px;
    margin-bottom: 30px;
}
.label {
    position: relative;
}
.label::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 72px;
    height: 2px;
    background: #FFC178;
}
.holiday_block__subtitle {
    margin-bottom: 30px;
}
.subtitle {
    
font-size: 64px;
font-weight: 700;
line-height: 87px;


}
.holiday_block__text {
    margin-bottom: 30px;
}
.text {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: #fff;
}
.holiday_block__link {
    position: relative;
}
.link {
    color:#FBD784;
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}
.holiday_block a::after{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f178";
    color: #FBD784;
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 110px;
}
/* -----------------------bromo------------------------------------------------- */

.bromo {
    background: #000;
    max-width: 100%;
    padding-bottom: 250px;
}
.container {
}
.bromo_body {
}
.bromo__slider {
}
.bromo__slide {
    background: url('../img/02.jpg') 0 0/cover no-repeat;
    width: 1461px;
    height: 985px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    
}
.slide__arrow_left {
    display: block;
    position: absolute;
    top: 50%;
    left: 50px;
}

.slide__arrow_right {
    display: block;
    position: absolute;
    top: 50%;
    right: 50px;
}
.bromo__label {
    display: block;
    width: 95px;
    position: relative;
    margin: 0 auto;
}
.bromo__label::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -100px;
    width: 72px;
    height: 2px;
    background: #FFC178;
}
.bromo__label::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -100px;
    width: 72px;
    height: 2px;
    background: #FFC178;
}

.bromo__subtitle {
   text-align: center;
   margin:25px 0 25px 0;
}
.bromo__text {
    width: 934px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}
.text {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;

}
.slide__link {
    display: block;
    margin: 40px auto;
    position: relative;
}
.link {
}
.slide__link::after{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f178";
    color: #FBD784;
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 110px;
}

/* -----------------------culture------------------------------------------------- */
.culture {
    background: #000;
    padding-bottom: 250px;
}
.culture_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.culture_block__label {
    padding-left: 105px;
    margin-bottom: 30px;
}
.culture_block__subtitle {
    width: 555px;
    margin-bottom: 30px;
}
.culture_block__text {
    width: 632px;
    margin-bottom: 30px;
}
.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
.culture_block__link {
    display: block;
    margin: 40px auto;
    position: relative;
}

.culture_block__link::after{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f178";
    color: #FBD784;
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: 110px;
}
/* -----------------------footer------------------------------------------------- */
.footer{
    background: #000;
}
.footer__main{
    display: flex;
    justify-content: space-between;
}
.footer__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6c6b6b;
    padding-bottom: 47px;
}
.footer__button_blok{
    display: flex;
    align-items: center;
    gap: 55px;
}
.footer__logo {
    font-size: 48px;
    line-height: 65px;
}
.footer__button_redy a{
    color: #fff;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
}
.footer__button_start{
    background: #FFA343;
   
    border-radius: 10px;
}
.footer__button_start a{
    color: #000000;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    padding: 24px 70px;
    display: block;
}

.footer__form_blok {
}
.form_blok__subtitle {
    width: 367px;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    margin: 55px 0 50px 0;
}
.input_button{
    background: #FFA343;
    border-radius: 10px 10px 0 0;
    display: inline-block;
}
.input_button a{
    padding: 20px;
    display: inline-block;
}
.form_blok__input {
    border-bottom: 1px solid #6c6b6b;
    display: inline-block;
    
}
.form_blok__input input{
    background: #000;
    border: none;
    color: #fff;
    width: 330px;
    font-size: 20px;
}
.form_blok__input::placeholder {
   border: none;
   background: #000;
}
.form_blok__input:focus{
    border: none;
    background: #000;
 }


.footer__links_blok {
    margin: 55px 0 150px 0;
}
.links_blok__list {
    display: flex;
    gap: 185px;
}
.links_blok__column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.links_blok__subtitle {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    color: #FFD1A0;


}
.links_blok__links {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.links__item a{
    color: #fff;
    text-decoration: none;
}

.footer__policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
    padding: 0 40px;
}
.policy__terms{
    display: flex;
    gap: 80px;
}
.policy__terms a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.policy__icons {
}
.icons__list {
    display: flex;
    gap: 50px;
}
.icons__item {
}

.copy {
    text-align: center;
    color: #8f8f8f;
    margin-bottom: 120px;
}